a {
  text-align: center;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.75rem;
}

h2 {
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.25rem;
  text-align: center;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: black;
  padding: 5px;
}

#inner-1, #inner-2, #inner-3 {
  background-color: gray;
  margin: 1px;
  border: 2px solid black;
}

#header-nav {
  background-color: gray;
}
