* {
  box-sizing: border-box;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.75rem;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  position: relative;
  float: right;
  width: 30%;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.25rem;
  border: solid;
  border-width: 0px 0px 1px 1px;
  border-color: black;
  margin: 0;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: black;
  padding: 5px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.inner-1, .inner-2, .inner-3 {
  background-color: gray;
  margin: 1px;
  border: 5px solid black;
}

.section-name-1 {
  background-color: rosybrown;
}

.section-name-2 {
  background-color: indianred;
  color: white;
}

.section-name-3 {
  background-color: moccasin;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .display-1, .display-2, .display-3 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .display-1, .display-2, .display-3 {
    float: left;
  }
  .display-1, .display-2 {
    width: 50%;
  }
  .display-3 {
    width: 100%;
  }
}